* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
  min-height: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-label,
.form-check-label {
  font-weight: 500;
}

.form-control,
.form-select {
  border-color: rgba(0, 0, 0, 0.75);
}

input.form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.75%29'/%3e%3c/svg%3e") !important;
}
.btn {
  border: 2px solid rgba(0, 0, 0, 0.35);
}

select {
  cursor: pointer;
}
