/* .Answer .Answered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
}

.Answer:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.Answer_Correct {
  background-color: "blue";
  color: "white";
}

.Answer_Incorrect {
  background-color: "red";
  color: "white";
} */
.Answer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
}

.Answer:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.Answer_Correct {
  background-color: "blue";
  color: "white";
}

.Answer_Incorrect {
  background-color: "red";
  color: "white";
}
