/* .Modal_hidden {
  display: none;
} */

.Modal_active {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.Modal_backdrop {
  background: cornflowerblue;
  opacity: 0.4;
  height: 100%;
  width: 100%;
}

.Modal_content {
  position: fixed;
  background: white;
  color: black;
  z-index: 3;
  opacity: 1;
  border: 3px solid black;
  border-radius: 1em;
  padding: 1em;
  padding-top: 0;
  overflow: scroll;
  max-height: 70%;
  scrollbar-width: none;
}

.Modal_content::-webkit-scrollbar {
  display: none;
}

.Modal_close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 1em;
  margin: 0;
  padding-top: 0.5em;
}
